:root {
/*     --main-bg-color: coral;  */
    --text-color: #b2b4bd;
    --header-color: #1d2951;
    --background-color: #fbfbff;
    --link-hover: #9370DB;
    --default-margin: 0 10% 0 10%;
}

/* General */  
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--text-color);
    background-color: var(--background-color);
    width: 100%;
    margin: 0 0 0 0;
}
hr {
    color: var(--text-color);
    width: 100%;
}
a {
    text-decoration: none;
    color: var(--header-color);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: var(--default-margin);
    color:var(--background-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color:var(--header-color);
}
.wrapper-main {
    display: grid;
    grid-template-columns: 1fr 1fr 320px 320px 1fr 1fr; 
    grid-column-gap: 40px;
    grid-row-gap: 10px;
/*     background-color: #fff; */
    color: #444;
}
.wrapper-main > * {
    grid-column: 3 / 5;
}
.wrapper-main img {
    grid-column: 1 / 7;
    width: 100%;
    height: 400px;
}

.wrapper-2-col {
    display: grid;
    grid-template-columns: 320px 320px;
    grid-column-gap: 40px;
    grid-row-gap: 10px;
/*     justify-content: space-between;
    align-items: left; 
    margin: 0 20% 0 0; */
}
.wrapper-2-col > * {
    overflow-wrap: break-word;
}

address{
    text-align: left;
    margin: 16px 0 16px 0;
    font-style: normal;
}

/* Navigation */

nav {
    list-style: none;
}
nav li {
    display: inline;
    margin-left: 1.5em;
}
nav li a {
    text-decoration: none;
    font-weight: 600;
    color: var(--header-color);
}
nav li a:hover {
    color: var(--link-hover);
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
    margin: var(--default-margin);
}

/* Buttons */
footer button {
    width: 24px;
    height: 24px;
    border: none;
}

#twitter {
    background:url(../images/icons8-twitter-24.png) 0 0 no-repeat;
}
#facebook {
    background:url(../images/icons8-facebook-24.png) 0 0 no-repeat;
}
#instagram {
    background:url(../images/icons8-instagram-24.png) 0 0 no-repeat;
}
