:root {
/*     --main-bg-color: coral;  */
    --text-color: #6e7381;
    --header-color: #1d2951;
    --link-hover: #9370db;
  }

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: var(--text-color);
}

/* Headers */

header {
    border-bottom: 1px solid var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6{
    color:var(--header-color);
}
main h1{
    text-align: center;
}
main img{
    width: 100%;
    height: 50%;
}

/* Navigation */

nav{
    list-style: none;
}
nav li{
    display: inline;
    margin-left: 1.5em;
}
nav li a{
    text-decoration: none;
    color: var(--text-color);
}
nav li a:hover{
    color: var(--link-hover);
}

footer {
    border-top: 1px solid var(--text-color);
}

/* Buttons */
footer button{
    width: 24px;
    height: 24px;
    border: none;
}
#twitter{
    background:url(../images/icons8-twitter-24.png) 0 0 no-repeat;
}
#facebook{
    background:url(../images/icons8-facebook-24.png) 0 0 no-repeat;
}
#instagram{
    background:url(../images/icons8-instagram-24.png) 0 0 no-repeat;
}
